<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.dataservice.mapper.AppApiMapper">
    <select id="getSubscribeAll" resultType="com.fisk.dataservice.vo.app.AppApiSubVO">
        SELECT
               t1.id,
               t1.app_id,
               t1.api_id,
               t1.api_state,
               t2.api_code,
               t2.api_name,
               t2.api_desc
        FROM tb_app_api t1
            LEFT JOIN tb_api_config t2 ON t1.api_id=t2.id
            LEFT JOIN tb_app_config t3 ON t1.app_id=t3.id
        WHERE t1.del_flag=1
            AND t2.del_flag=1
            AND t3.del_flag=1
            AND t3.id= #{query.appId}
        <if test="query.keyword != null and query.keyword != '' ">
            AND (t2.api_name LIKE concat('%', #{query.keyword}, '%') OR t2.api_desc LIKE concat('%', #{query.keyword}, '%') )
        </if>
    </select>
</mapper>