<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.dataaccess.mapper.ApiStateMapper">

    <resultMap id="BaseResultMap" type="com.fisk.dataaccess.entity.ApiStatePO">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="apiState" column="api_state" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,api_state,create_time,
        create_user,update_time,update_user,
        del_flag
    </sql>
</mapper>
