<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.dataaccess.mapper.AppRegistrationMapper">
    <select id="filter" resultType="com.fisk.dataaccess.vo.AppRegistrationVO">
        SELECT
        a.id,
        a.app_name,
        a.app_abbreviation,
        a.app_des,
        a.app_type,
        a.app_principal,
        a.create_time,
        b.drive_type
        FROM
        tb_app_registration AS a
        LEFT JOIN tb_app_datasource AS b ON a.id = b.app_id
        WHERE
        a.del_flag =1
        <if test="query.where !=null and query.where.length()>0 ">
            ${query.where}
        </if>
    </select>
    <insert id="insertAppRegistrationPo" useGeneratedKeys="true" keyProperty="id" keyColumn="id"
            parameterType="com.fisk.dataaccess.entity.AppRegistrationPO">
        insert into tb_app_registration (app_name, app_des, app_type, del_flag)
        values (#{appRegistrationPO.appName}, #{appRegistrationPO.appDes}, #{appRegistrationPO.appType},
                #{appRegistrationPO.delFlag})
    </insert>

    <!-- 非实时api -->
    <select id="logMessageFilterByApi" resultType="com.fisk.dataaccess.dto.app.LogMessageFilterVO">
        SELECT
        app.id AS appId,
        app.app_type AS appType,
        api.id AS apiId,
        api.api_name AS apiName
        FROM
        tb_app_registration AS app
        LEFT JOIN tb_api_config AS api ON api.app_id = app.id
        WHERE
        app.del_flag = 1
        AND api.del_flag = 1
        AND api.publish = 1
        <if test="appId !=null and appId!='' ">
            AND app.id = #{appId}
        </if>
<!--        <if test="keyword !=null and keyword!='' ">-->
<!--            AND api.api_name like concat('%', #{keyword}, '%')-->
<!--        </if>-->
        <if test="apiId !=null and apiId!='' ">
            AND api.id = #{apiId}
        </if>
    </select>

    <select id="logMessageFilterByRestApi" resultType="com.fisk.dataaccess.dto.app.LogMessageFilterVO">
        SELECT
        app.id AS appId,
        app.app_type AS appType,
        api.id AS apiId,
        api.api_name AS apiName
        FROM
        tb_app_registration AS app
        LEFT JOIN tb_api_config AS api ON api.app_id = app.id
        WHERE
        app.del_flag = 1
        AND api.del_flag = 1
        AND api.publish=1
        <if test="appId !=null and appId!='' ">
            AND app.id = #{appId}
        </if>
<!--        <if test="keyword !=null and keyword!='' ">-->
<!--            AND api.api_name like concat('%', #{keyword}, '%')-->
<!--        </if>-->
        <if test="apiId !=null and apiId!='' ">
            AND api.id = #{apiId}
        </if>
    </select>

    <select id="logMessageFilterByTable" resultType="com.fisk.dataaccess.dto.app.LogMessageFilterVO">
        SELECT
        app.id AS appId,
        app.app_type AS appType,
        tb.id AS tableId,
        tb.table_name AS tableName
        FROM
        tb_app_registration AS app
        LEFT JOIN tb_table_access AS tb ON tb.app_id = app.id
        WHERE
        app.del_flag = 1
        AND tb.del_flag = 1
        AND tb.publish = 1
        <if test="appId !=null and appId!='' ">
            AND app.id = #{appId}
        </if>
<!--        <if test="keyword !=null and keyword!='' ">-->
<!--            AND tb.table_name like concat('%', #{keyword}, '%')-->
<!--        </if>-->
        <if test="apiId !=null and apiId!='' ">
            AND tb.id = #{apiId}
        </if>
    </select>

</mapper>