<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.dataaccess.mapper.DataTargetMapper">
    <select id="queryList" resultType="com.fisk.dataaccess.dto.output.datatarget.DataTargetPageResultDTO">
        SELECT
        id,
        name,
        principal,
        description,
        create_user,
        create_time,
        update_time,
        host,
        api_address
        from tb_data_target
        where del_flag=1
        <if test="query !=null and query.length()>0 ">
            ${query}
        </if>
    </select>

    <insert id="insertDataTarget" useGeneratedKeys="true" keyProperty="id" keyColumn="id"
            parameterType="com.fisk.dataaccess.dto.output.datatarget.DataTargetAddDTO">
        insert into tb_data_target
        (type,
        name,
        principal,
        description,
        host,
        port,
        connect_account,
        connect_pwd,
        del_flag)
        values
        (#{dataTargetDto.type},
        #{dataTargetDto.name},
        #{dataTargetDto.principal},
        #{dataTargetDto.description},
        #{dataTargetDto.host},
        #{dataTargetDto.port},
        #{dataTargetDto.connectAccount},
        #{dataTargetDto.connectPwd},
        1)
    </insert>

</mapper>