<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.dataaccess.mapper.TableAccessMapper">
    <select id="filter" resultType="com.fisk.dataaccess.vo.TableAccessVO">
        SELECT
        a.id,
        a.app_id,
        a.`table_name`,
        a.table_des,
        a.update_time,
        b.`sync_field`,
        b.`sync_mode`,
        c.incremental_objectivescore_end
        FROM
        tb_table_access a
        LEFT JOIN `tb_table_syncmode` AS b ON a.id = b.id
        LEFT JOIN (
        SELECT
        *
        FROM
        `tb_etl_Incremental` t
        WHERE
        id = ( SELECT MAX( id ) FROM tb_etl_Incremental WHERE object_name = t.object_name )) AS c ON CONCAT(( SELECT app_abbreviation FROM tb_app_registration WHERE id = a.app_id ), "_", a.`table_name` ) = c.object_name
        WHERE
        a.del_flag = 1
        <if test="query.where !=null and query.where.length()>0 ">
            ${query.where}
        </if>
    </select>

    <insert id="insertTableAccessPo" useGeneratedKeys="true" keyProperty="id" keyColumn="id"
            parameterType="com.fisk.dataaccess.entity.TableAccessPO">
        insert into tb_table_access (app_id,is_realtime,table_name,del_flag) values
        (#{tableAccessPo.appId},#{tableAccessPo.isRealtime},#{tableAccessPo.tableName},#{tableAccessPo.delFlag})
    </insert>

    <select id="getTableAccessListData" resultType="com.fisk.dataaccess.dto.v3.TbTableAccessDTO">
        select
        a.*,b.sync_mode
        from
        tb_table_access a
        left join tb_table_syncmode b on a.id=b.id
        where
        a.app_id = ${query.appId}
        and a.del_flag=1
        <if test="query.tableName != null and query.tableName.length()>0">
            and a.table_name like CONCAT('%',#{query.tableName},'%')
        </if>
        <if test="query.syncMode != null and query.syncMode>0">
            and b.sync_mode = ${query.syncMode}
        </if>
        <if test="query.publish != null">
            and a.publish = ${query.publish}
        </if>
    </select>

</mapper>