<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fisk.datamanagement.mapper.CodeCollectionMapper">

    <resultMap id="codeCollection" type="com.fisk.datamanagement.vo.CodeCollectionVO">
        <result column="collectionId" property="collectionId"/>
        <result column="collection_name" property="collectionName"/>
        <result column="collectionDescription" property="collectionDescription"/>
        <collection property="codeSetVOList" javaType="java.util.List" ofType="com.fisk.datamanagement.vo.CodeSetVO">
            <id property="id" column="id"/>
            <result column="code" property="code"/>
            <result column="name" property="name"/>
            <result column="description" property="description"/>
            <result column="create_time" property="createTime"/>
            <result column="create_user" property="createUser"/>
        </collection>
    </resultMap>
    <select id="getAllCodeCollectionCount" resultType="Integer">
        select count(1) from tb_code_collection where del_flag = 1
    </select>
    <select id="getCodeCollection" resultMap="codeCollection">
        SELECT
            c1.id AS collectionId,
            c1.collection_name,
            c1.description as collectionDescription,
            c2.id,
            c2.`code`,
            c2.`name`,
            c2.description,
            c2.create_time,
            c2.create_user
        FROM
        ( SELECT * FROM tb_code_collection c1 where c1.del_flag = 1
        <if test="keyword !=null and keyword.length()>0 ">
            and c1.collection_name like concat('%', #{keyword}, '%')
        </if>
         LIMIT #{startIndex},#{pageSize}) AS c1
            LEFT JOIN tb_code_set c2 ON c1.id = c2.collection_id
        and c2.del_flag = 1

    </select>
    <select id="getCollectionList" resultType="com.fisk.datamanagement.vo.CodeCollectionVO">
        select id as collectionId,
               collection_name,
               description as collectionDescription
        from tb_code_collection where del_flag = 1
    </select>
</mapper>