<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.datamanagement.mapper.MetadataMapAtlasMapper">
    <update id="delBatchMetadataMapAtlas" parameterType="com.fisk.datamanagement.dto.metadatamapatlas.UpdateMetadataMapAtlasDTO">
        update
        tb_metadata_map_atlas set del_flag=0,update_time=DATE_FORMAT(NOW(),'%Y-%m-%d %H:%m:%s')
        where table_id=${id} and data_type=${dataType} and table_type=${tableType}
    </update>

</mapper>