<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.datamanagement.mapper.MetadataEntityAuditLogMapper">

    <resultMap id="BaseResultMap" type="com.fisk.datamanagement.entity.MetadataEntityAuditLogPO">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="entityId" column="entity_id" jdbcType="VARCHAR"/>
            <result property="operationType" column="operation_type" jdbcType="INTEGER"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,entity_id,operation_type,
        create_user,update_user,create_time,
        update_time,del_flag
    </sql>

    <select id="getDayTotal" resultType="com.fisk.datamanagement.dto.metaauditlog.AuditAnalysisDayChangeTotalVO">
        SELECT
            DATE_FORMAT(create_time, '%Y-%m-%d') AS day,
            SUM(CASE WHEN operation_type = '1' THEN 1 ELSE 0 END) AS `add`,
            SUM(CASE WHEN operation_type = '2' THEN 1 ELSE 0 END) AS `edit`,
            SUM(CASE WHEN operation_type = '3' THEN 1 ELSE 0 END) AS `delete`
            FROM `tb_metadata_entity_audit_log`
            where create_time BETWEEN #{beginTime} AND #{endTime}
            GROUP BY
                DATE_FORMAT(create_time, '%Y-%m-%d')
            ORDER BY day;
    </select>
</mapper>
