<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.datamanagement.mapper.MetadataEntityMapper">

    <select id="selectMetadataEntity" resultType="com.fisk.datamanagement.entity.MetadataEntityPO">
        SELECT *
        FROM tb_metadata_entity
        WHERE type_id != #{type} and type_id !=6
          and del_flag=1
        ORDER BY name
    </select>

    <select id="getColumnMetadataEntities" resultType="com.fisk.datamanagement.entity.MetadataEntityPO">
        SELECT *
        FROM tb_metadata_entity
        WHERE parent_id = #{id} and type_id =6
          and del_flag=1
        ORDER BY name
    </select>

    <!-- 排除数仓的temp_表 -->
    <select id="selectMetadataEntityWithoutTemp" resultType="com.fisk.datamanagement.entity.MetadataEntityPO">
        SELECT *
        FROM tb_metadata_entity
        WHERE type_id != #{type}
          and del_flag=1
          and LEFT (name
            , 5) != "temp_"
        ORDER BY name
    </select>

    <!-- 为业务术语获取指定表元数据节点下的字段 -->
    <select id="selectMetadataEntityOnlyField" resultType="com.fisk.datamanagement.entity.MetadataEntityPO">
        SELECT *
        FROM tb_metadata_entity
        WHERE type_id = #{type}
          and parent_id = #{entityId}
          and del_flag=1
        ORDER BY name
    </select>

    <!-- 排除temp_表和字段 -->
    <select id="selectMetadataEntityWithoutTempAndField" resultType="com.fisk.datamanagement.entity.MetadataEntityPO">
        SELECT *
        FROM tb_metadata_entity
        WHERE type_id != #{type}
          and type_id != #{fieldType}
          and del_flag=1
          and LEFT (name
            , 5) != "temp_"
        ORDER BY name
    </select>

    <!--查询抽取详情，和输入输出源-->
    <resultMap id="processMap" type="com.fisk.datamanagement.dto.metadataentity.MetadataEntityDTO">
        <id property="id" column="id"/>
        <result property="name" column="tbname"/>
        <result property="description" column="tbdes"/>
        <collection property="relationDTOList"
                    ofType="com.fisk.datamanagement.dto.lineagemaprelation.LineageMapRelationDTO">
            <id property="id" column="lmid"/>
            <result property="fromEntityId" column="fromid"/>
            <result property="toEntityId" column="toid"/>
        </collection>
    </resultMap>
    <select id="getProcess" resultMap="processMap">
        SELECT tb1.id,
               tb1.name           tbname,
               tb1.description    tbdes,
               lmr.from_entity_id fromid,
               lmr.to_entity_id   toid,
               lmr.id             lmid
        FROM tb_metadata_entity tb1
                 LEFT JOIN tb_lineage_map_relation lmr on tb1.id = lmr.metadata_entity_id
        WHERE tb1.id = #{guid}
          AND tb1.del_flag = 1
    </select>


    <!--全局Entites搜索-->
    <resultMap id="queryEntity" type="com.fisk.datamanagement.dto.search.EntitiesDTO">
        <id property="guid" column="guid"/>
        <result property="displayText" column="ename"/>
        <result property="typeName" column="tname"/>
        <result property="parent1" column="parent1"/>
        <result property="parent2" column="parent2"/>
        <association property="attributes" javaType="com.fisk.datamanagement.dto.entity.EntityAttributesDTO">
            <result property="name" column="ename"/>
            <result property="qualifiedName" column="qname"/>
            <result property="displayName" column="display_name"/>
        </association>
    </resultMap>
    <select id="searchEntitys" resultMap="queryEntity">
        SELECT tme.id             guid,
               tme.`name`         ename,
               tme.display_name   display_name,
               tme.qualified_name qname,
               tmp.type           tname,
               tme1.name          parent1,
               tme2.name          parent2
        FROM tb_metadata_entity tme
                 LEFT JOIN tb_metadata_entity_type tmp ON tme.type_id = tmp.id
                 LEFT JOIN tb_metadata_entity tme1 ON tme.parent_id = tme1.id
                 LEFT JOIN tb_metadata_entity tme2 ON tme1.parent_id = tme2.id
        WHERE (tme.`name` LIKE CONCAT('%',#{query},'%') OR tme.display_name LIKE CONCAT('%',#{query},'%'))
          AND (tme.description != 'stg' or tme.description is null)
          AND tme.del_flag = 1
            LIMIT #{offset}
            , #{limit}
    </select>

    <resultMap id="entitiesWithClassification" type="com.fisk.datamanagement.dto.metadataentity.EntitiesClassificationDTO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="dname" column="dname"/>
        <result property="cname" column="cname"/>
        <result property="pid" column="pid"/>
    </resultMap>
    <select id="getMetadataEntitiesWithClassification" resultMap="entitiesWithClassification">
        SELECT
        tb_metadata_entity.id id,
        tb_metadata_entity.name name,
        tb_metadata_entity.display_name dname,
        tb_business_classification.`name` cname,
        tb_business_classification.`pid` pid
        FROM
        tb_metadata_entity
        LEFT JOIN
        tb_metadata_classification_map
        ON
        tb_metadata_entity.id = tb_metadata_classification_map.metadata_entity_id
        LEFT JOIN
        tb_business_classification
        ON
        tb_metadata_classification_map.business_classification_id = tb_business_classification.id
        WHERE
        tb_metadata_entity.id IN
        <foreach item="id" collection="metadataIds" open="(" separator="," close=")">
            #{id}
        </foreach>
        and tb_metadata_entity.del_flag = 1
        and tb_business_classification.del_flag = 1
        and tb_metadata_classification_map.del_flag = 1
    </select>

</mapper>