<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.datamanagement.mapper.StandardsMapper">
    <select id="standardsQuery" resultType="com.fisk.datamanagement.dto.standards.StandardsMenuDTO">
        SELECT
        a.*
        FROM
            `tb_standards_menu` a
                LEFT JOIN
            tb_standards b ON a.id = b.menu_id
        WHERE
            a.del_flag = 1
            AND b.del_flag = 1
            AND a.pid = #{dto.menuId}
        <if test="dto.keyWord !=null and dto.keyWord.length()>0 ">
            AND (b.chinese_name LIKE concat('%', #{dto.keyWord}, '%')
            OR b.english_name LIKE concat('%', #{dto.keyWord}, '%')
            OR b.datameta_code LIKE concat('%', #{dto.keyWord}, '%')
                )
        </if>
    </select>
    <select id="getStandardsBySource" resultType="com.fisk.datamanagement.dto.standards.StandardsDTO">
        SELECT
            *
        FROM
            tb_standards
        WHERE
            del_flag = 1
          AND id IN (
            SELECT DISTINCT
                standards_id
            FROM
                `tb_standards_be_cited`
            WHERE
                del_flag = 1
        <if test="dto.databaseName !=null and dto.databaseName.length()>0 ">
            AND database_name LIKE concat( '%',#{dto.databaseName}, '%' )
        </if>
        <if test="dto.tableName !=null and dto.tableName.length()>0 ">
            AND table_name LIKE concat( '%', #{dto.tableName}, '%' )
        </if>
        <if test="dto.fieldName !=null and dto.fieldName.length()>0 ">
            AND field_name LIKE concat( '%', #{dto.fieldName}, '%' )
        </if>
        )
    </select>

    <select id="getStandardTotal" resultType="Integer">
        select count(1) from tb_standards where del_flag = 1
    </select>
</mapper>