<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.datamanagement.mapper.StandardsMapper">
    <select id="standardsQuery" resultType="com.fisk.datamanagement.dto.standards.StandardsMenuDTO">
        SELECT
        a.*
        FROM
            `tb_standards_menu` a
                LEFT JOIN
            tb_standards b ON a.id = b.menu_id
        WHERE
            a.del_flag = 1
            AND b.del_flag = 1
            AND a.pid = #{dto.menuId}
        <if test="dto.keyWord !=null and dto.keyWord.length()>0 ">
            AND (b.chinese_name LIKE concat('%', #{dto.keyWord}, '%')
            OR b.english_name LIKE concat('%', #{dto.keyWord}, '%')
            OR b.datameta_code LIKE concat('%', #{dto.keyWord}, '%')
                )
        </if>
    </select>

    <select id="getStandardsDetailMenuList" resultType="com.fisk.datamanagement.dto.standards.StandardsDetailDTO">
        SELECT
        a.id,
        a.name,
        a.pid,
        a.sort,
        a.type,
        b.english_name,
        b.description,
        b.field_type,
        b.datameta_code,
        b.quality_rule,
        b.value_range_type,
        b.symbols,
        b.value_range,
        b.value_range_max
        FROM
        `tb_standards_menu` a
        LEFT JOIN
        tb_standards b ON a.id = b.menu_id
        WHERE
        a.del_flag = 1
        AND b.del_flag = 1
        <if test="ids != null and ids.size() > 0">
            AND a.pid IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        ORDER BY a.create_time DESC, a.id
    </select>
    <select id="getStandardsDetailListByKeyWord" resultType="com.fisk.datamanagement.dto.standards.StandardsDetailDTO">
        SELECT
        a.id,
        a.name,
        a.pid,
        a.sort,
        a.type,
        b.english_name,
        b.description,
        b.field_type,
        b.datameta_code,
        b.quality_rule,
        b.value_range_type,
        b.symbols,
        b.value_range,
        b.value_range_max
        FROM
        `tb_standards_menu` a
        LEFT JOIN
        tb_standards b ON a.id = b.menu_id
        WHERE
        a.del_flag = 1
        AND b.del_flag = 1
        <if test="ids != null and ids.size() > 0">
            AND a.pid IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <if test="keyWord !=null and keyWord.length()>0 ">
            AND (b.chinese_name LIKE concat('%', #{keyWord}, '%')
            OR b.english_name LIKE concat('%', #{keyWord}, '%')
            OR b.datameta_code LIKE concat('%', #{keyWord}, '%')
            )
        </if>
        ORDER BY a.create_time DESC, a.id
    </select>
    <select id="getStandardsBySource" resultType="com.fisk.datamanagement.dto.standards.StandardsDTO">
        SELECT
            *
        FROM
            tb_standards
        WHERE
            del_flag = 1
          AND id IN (
            SELECT DISTINCT
                standards_id
            FROM
                `tb_standards_be_cited`
            WHERE
                del_flag = 1
        <if test="dto.databaseName !=null and dto.databaseName.length()>0 ">
            AND database_name LIKE concat( '%',#{dto.databaseName}, '%' )
        </if>
        <if test="dto.tableName !=null and dto.tableName.length()>0 ">
            AND table_name LIKE concat( '%', #{dto.tableName}, '%' )
        </if>
        <if test="dto.fieldName !=null and dto.fieldName.length()>0 ">
            AND field_name LIKE concat( '%', #{dto.fieldName}, '%' )
        </if>
        )
    </select>

    <select id="getStandardTotal" resultType="Integer">
        select count(1) from tb_standards where del_flag = 1
    </select>

    <select id="filter" resultType="com.fisk.datamanagement.dto.standards.StandardsDetailDTO">
        SELECT
        a.id,
        a.name,
        a.pid,
        a.sort,
        a.type,
        b.english_name,
        b.description,
        b.field_type,
        b.datameta_code,
        b.quality_rule,
        b.value_range_type,
        b.symbols,
        b.value_range,
        b.value_range_max
        FROM
        `tb_standards_menu` a
        LEFT JOIN
        tb_standards b ON a.id = b.menu_id
        WHERE
        a.del_flag = 1
        AND b.del_flag = 1
        <if test="ids != null and ids.size() > 0">
            AND a.pid IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <if test="where !=null and where.length()>0 ">
            ${where}
        </if>
    </select>
</mapper>