<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.datagovernance.mapper.dataquality.BusinessFilterMapper">
    <select id="getAll" resultType="com.fisk.datagovernance.vo.dataquality.businessfilter.BusinessFilterVO">
        SELECT
        t1.id,
        template_id,
        datasource_id,
        datasource_type,
        module_name,
        filter_step,
        table_name,
        pro_table_name,
        module_rule,
        run_time_cron,
        module_exec_sort,
        module_state,
        t2.templaten_name,
        t2.template_modules,
        t2.template_type,
        t2.template_desc,
        t1.create_time,
        t1.create_user
        FROM
        tb_bizfilter_module t1
        LEFT JOIN tb_template_config t2
        ON t1.template_id=t2.id
        WHERE
        t1.del_flag = 1
        AND table_name = #{tableName,jdbcType=VARCHAR}
        <if test="keyword != null and keyword != '' ">
            AND module_name LIKE concat('%', #{keyword}, '%')
        </if>
    </select>
</mapper>