<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.datagovernance.mapper.dataquality.DataCheckExtendMapper">
    <select id="getDataCheckExtendByRuleIdList" resultType="com.fisk.datagovernance.vo.dataquality.datacheck.DataCheckExtendVO">
        SELECT
        id,
        rule_id,
        field_unique,
        field_name,
        range_check_type AS rangeCheckType,
        range_check_value,
        standard_check_type AS standardCheckType,
        standard_check_type_date_value,
        standard_check_type_length_separator,
        standard_check_type_length_value,
        standard_check_type_regexp_value,
        fluctuate_check_type AS fluctuateCheckType,
        fluctuate_check_value,
        parentage_check_type AS parentageCheckType,
        regexp_check_value,
        sql_check_value
        FROM
        tb_datacheck_rule_extend
        WHERE
        del_flag =1
        <if test="null != ruleIdList and ruleIdList.size > 0">
            AND rule_id IN
            <foreach item="item" index="index" collection="ruleIdList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>