<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.datagovernance.mapper.dataops.DataOpsLogMapper">
    <select id="getAll" resultType="com.fisk.datagovernance.vo.dataops.DataOpsLogVO">
        SELECT
        id,
        con_ip,
        con_dbname,
        con_dbtype,
        execute_sql,
        execute_result,
        execute_msg,
        execute_user,
        create_time,
        create_user
        FROM
        tb_dataops_logs
        WHERE
        del_flag =1
        <if test="keyword != null and keyword != '' ">
            AND con_dbname LIKE concat('%', #{keyword}, '%')
            OR execute_sql LIKE concat('%', #{keyword}, '%')
            OR execute_user LIKE concat('%', #{keyword}, '%')
            <if test="keyword =='成功' ">
                or execute_result = 200
            </if>
            <if test="keyword =='失败' ">
                or execute_result = 500
            </if>
            <if test="keyword =='mysql' ">
                or con_dbtype = 0
            </if>
            <if test="keyword =='sqlserver' ">
                or con_dbtype = 1
            </if>
            <if test="keyword =='cube' ">
                or con_dbtype = 2
            </if>
            <if test="keyword =='tabular' ">
                or con_dbtype = 3
            </if>
            <if test="keyword =='postgre' ">
                or con_dbtype = 4
            </if>
            <if test="keyword =='pg' ">
                or con_dbtype = 4
            </if>
        </if>
    </select>
</mapper>