<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.datagovernance.mapper.dataquality.DataCheckMapper">
    <select id="getAll" resultType="com.fisk.datagovernance.vo.dataquality.datacheck.DataCheckVO">
        SELECT
        t1.id,
        t1.template_id,
        t1.datasource_id,
        t1.rule_name,
        t1.table_name,
        t1.use_table_name,
        t1.check_rule,
        t1.create_rule,
        t1.rule_sort,
        t1.rule_state,
        t1.threshold_value,
        t2.module_type,
        t2.module_name,
        t2.template_scene,
        t2.scene_name,
        t2.scene_desc,
        t2.template_type,
        t2.templaten_name,
        t2.template_desc,
        t1.create_time,
        t1.create_user
        FROM
        tb_datacheck_rule t1
        LEFT JOIN tb_template_config t2 ON t1.template_id = t2.id
        LEFT JOIN tb_datasource_config t3 ON t1.datasource_id = t3.id
        WHERE
        t1.del_flag = 1
        AND t2.del_flag = 1
        AND t3.del_flag = 1
        AND t3.id = #{datasourceId}
        AND table_name = #{tableName,jdbcType=VARCHAR}
        <if test="keyword != null and keyword != '' ">
            AND rule_name LIKE concat('%', #{keyword}, '%')
        </if>
    </select>
</mapper>