<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.datagovernance.mapper.dataquality.LifecycleMapper">
    <select id="getAll" resultType="com.fisk.datagovernance.vo.dataquality.lifecycle.LifecycleVO">
        SELECT
        id,
        template_id,
        datasource_id,
        datasource_type,
        module_name,
        table_name,
        field_name,
        recovery_date,
        remind_date,
        is_backup,
        check_emptytb_day,
        check_refreshtb_day,
        check_consanguinity_day,
        run_time_cron,
        table_state,
        module_state,
        create_time,
        create_user
        FROM
        tb_lifecycle_module
        WHERE
        del_flag = 1
        AND table_name = #{tableName,jdbcType=VARCHAR}
        <if test="keyword != null and keyword != '' ">
            AND module_name LIKE concat('%', #{keyword}, '%'))
        </if>
    </select>
</mapper>