<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.datagovernance.mapper.dataquality.LifecycleMapper">
    <select id="getAllRule" resultType="com.fisk.datagovernance.vo.dataquality.lifecycle.LifecycleVO">
        SELECT
        t1.id,
        t1.template_id,
        t1.datasource_id,
        t1.rule_name,
        t1.table_unique,
        t1.table_type,
        t1.table_business_type,
        t1.recovery_date,
        t1.continued_number,
        t1.is_backup,
        t1.consanguinity_range,
        t1.field_name,
        t1.table_state,
        t1.create_rule,
        t1.rule_state,
        t1.create_time,
        t1.create_user,
        t2.module_type,
        t2.module_name,
        t2.template_scene,
        t2.scene_name,
        t2.scene_desc,
        t2.template_type,
        t2.template_name,
        t2.template_desc,
        t3.datasource_id AS fiDataSourceId,
        t3.datasource_type AS sourceTypeEnum
        FROM
        tb_lifecycle_rule t1
        LEFT JOIN tb_template_config t2 ON t1.template_id = t2.id
        LEFT JOIN tb_datasource_config t3 ON t1.datasource_id = t3.id
        WHERE
        t1.del_flag = 1
        AND t2.del_flag = 1
        AND t3.del_flag = 1
    </select>
</mapper>