<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.datagovernance.mapper.dataquality.NoticeMapper">
    <select id="getAll" resultType="com.fisk.datagovernance.vo.dataquality.notice.NoticeVO">
        SELECT
        t1.id,
        template_id,
        email_server_id,
        module_name,
        notice_type,
        email_subject,
        email_consignee,
        email_cc,
        body,
        module_state,
        t2.templaten_name,
        t2.template_modules,
        t2.template_type,
        t2.template_desc,
        t1.create_time,
        t1.create_user
        FROM
        tb_notice_module t1
        LEFT JOIN tb_template_config t2 ON t1.template_id = t2.id
        WHERE
        t1.del_flag = 1
        <if test="keyword != null and keyword != '' ">
            AND module_name LIKE concat('%', #{keyword}, '%')
        </if>
    </select>
</mapper>