<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.datagovernance.mapper.dataquality.NoticeMapper">
    <select id="getAll" resultType="com.fisk.datagovernance.vo.dataquality.notice.NoticeVO">
        SELECT
        t1.id,
        t1.template_id,
        t1.notice_name,
        t1.notice_type,
        t1.email_server_id,
        t1.email_subject,
        t1.email_consignee,
        t1.email_cc,
        t1.body,
        t1.run_time_cron,
        t1.notice_state,
        t2.module_type,
        t2.module_name,
        t2.template_scene,
        t2.scene_name,
        t2.scene_desc,
        t2.template_type,
        t2.template_name,
        t2.template_desc,
        t1.create_time,
        t1.create_user
        FROM
        tb_notice_rule t1
        LEFT JOIN tb_template_config t2 ON t1.template_id = t2.id
        WHERE
        t1.del_flag = 1
        <if test="keyword != null and keyword != '' ">
            AND notice_name LIKE concat('%', #{keyword}, '%')
        </if>
    </select>
</mapper>