<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.mdm.mapper.AttributeMapper">
    <select id="getAll" resultType="com.fisk.mdm.vo.attribute.AttributeVO">
        select attribute.id,
               entity_id,
               attribute.name,
               display_name,
               attribute.desc,
               data_type,
               data_type_length,
               data_type_format_id,
               display_width,
               form_promp_content,
               sort_wieght,
               enable_attribute_log,
               enable_readonly,
               enable_required,
               mdm_type,
               create_user,
               create_time,
               update_user,
               update_time
        from tb_attribute as attribute
        where attribute.del_flag=1
        <if test="query.keyword !=null and query.keyword.length()>0 ">
            and attribute.name like concat('%', #{query.keyword}, '%')
        </if>
        order by create_time desc
    </select>

    <select id="getER" resultMap="entityMap">
        select entity.name,
               entity.display_name,
               attribute.name as aName,
               attribute.display_name as aDisplayName,
               attribute.data_type
        from tb_attribute as attribute
        right join tb_entity as entity on entity.id = attribute.entity_id
        where attribute.del_flag=1 and entity.del_flag=1
    </select>
    <resultMap id="entityMap" type="com.fisk.mdm.entity.Entity">
        <result property="name" column="name"/>
        <result property="displayName" column="display_name"/>
        <collection property="columns" ofType="com.fisk.mdm.entity.Column">
            <result property="name" column="aName"/>
            <result property="displayName" column="aDisplayName"/>
            <result property="dataType" column="data_type"/>
        </collection>
    </resultMap>

</mapper>