<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.mdm.mapper.AttributeMapper">
    <select id="getAll" resultType="com.fisk.mdm.vo.attribute.AttributeVO">
        select attribute.id,
               entity_id,
               name,
               display_name,
               attribute.desc,
               data_type,
               data_type_length,
               data_type_format_id,
               display_width,
               form_promp_content,
               sort_wieght,
               enable_attribute_log,
               enable_readonly,
               enable_required,
               mdm_type,
               create_user,
               create_time,
               update_user,
               update_time
        from tb_attribute as attribute
        where attribute.del_flag=1
    </select>

</mapper>