<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.mdm.mapper.ProcessApplyMapper">
    <select id="getPendingApproval" resultType="com.fisk.mdm.vo.process.PendingApprovalVO">
        SELECT
            a.id as apply_id,
            b.process_id,
            a.applicant,
            a.description,
            a.operation_type,
            a.application_time,
            a.approver_node
        FROM
            (
                SELECT
                    a.id,
                    a.applicant,
                    a.description,
                    a.operation_type,
                    a.application_time,
                    a.approver_node
                FROM
                    tb_process_apply a
                WHERE
                    a.del_flag = 1
            ) a
                LEFT JOIN tb_process_node b ON a.approver_node = b.id
                AND b.del_flag = 1
                LEFT JOIN tb_process_person c ON b.id = c.rocess_node_id
                AND c.del_flag = 1
                AND c.type = 2
        WHERE
            c.urid = #{userId}
        <if test=" query.keyword !=null and query.keyword.length()>0 ">
            and (
            a.applicant like concat('%', #{query.keyword}, '%') or
            a.description like concat('%', #{query.keyword}, '%') or
        </if>
        <if test="query.operationType != null and query.operationType != ''">
            and a.operation_type = #{query.operationType}
        </if>
        <if test="query.startTime != null">
            and a.application_time &gt; #{query.startTime}
        </if>
        <if test="query.endTime != null">
            and a.application_time &lt; #{query.endTime}
        </if>
        GROUP BY a.id
    </select>

    <select id="getOverApproval" resultType="com.fisk.mdm.vo.process.PendingApprovalVO">
        SELECT
        a.id as apply_id,
        a.applicant,
        a.description,
        a.operation_type,
        a.application_time,
        a.approver_node
        FROM
        (
        SELECT
        a.id,
        a.applicant,
        a.description,
        a.operation_type,
        a.application_time,
        a.approver_node
        FROM
        tb_process_apply a
        WHERE
        a.del_flag = 1
        ) a
        LEFT JOIN tb_process_apply_notes b ON a.id = b.processapply_id
        WHERE
        b.del_flag = 1 and b.create_user = #{userId}
        GROUP BY a.id
        <if test=" query.keyword !=null and query.keyword.length()>0 ">
            and (
            a.applicant like concat('%', #{query.keyword}, '%') or
            a.description like concat('%', #{query.keyword}, '%') or
        </if>
        <if test="query.operationType != null and query.operationType != ''">
            and a.operation_type = #{query.operationType}
        </if>
        <if test="query.startTime != null">
            and a.application_time &gt; #{query.startTime}
        </if>
        <if test="query.endTime != null">
            and a.application_time &lt; #{query.endTime}
        </if>
        GROUP BY a.id
    </select>
</mapper>