dataservice:
  pdf:
    path: D:/Work/java/Fisk.DMP.Project/fisk-dataservice/fisk-dataservice-service/target/classes
eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:8082/eureka
  instance:
    lease-expiration-duration-in-seconds: 5
    lease-renewal-interval-in-seconds: 5
feign:
  client:
    config:
      default:
        connectTimeout: 20000
        readTimeout: 60000
fk:
  auth:
    clientId: dataservice-service
    secret: 1234
  encoder:
    crypt:
      secret: ${random.uuid}
      strength: 6
management:
  endpoint:
    health:
      show-details: always
    shutdown:
      enabled: true
  endpoints:
    web:
      exposure:
        include: '*'
mybatis-plus:
  configuration:
    default-enum-type-handler: com.fisk.common.mybatis.config.BaseEnumTypeHandler
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: auto
      insert-strategy: not_null
      logic-delete-field: del_flag
      logic-delete-value: 0
      logic-not-delete-value: 1
      update-strategy: not_null
  mapper-locations: classpath:mapper/*.xml
server:
  port: 8091
spring:
  application:
    name: dataservice-service
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    password: root123
    url: jdbc:mysql://192.168.11.130:3306/dmp_dataservice_db?useUnicode = true&characterEncoding = utf8&allowMultiQueries = true&useSSL = false
    username: root
  freemarker:
    settings:
      classic_compatible: true