<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.system.mapper.DataSourceMapper">

    <select id="filter" resultType="com.fisk.system.dto.datasource.DataSourceDTO">
        SELECT
        ds.id,
        ds.`name`,
        ds.con_str AS conStr,
        ds.con_ip AS conIp,
        ds.con_port AS conPort,
        ds.con_dbname AS conDbname,
        ds.con_type AS ConTypeValue,
        ds.con_account AS conAccount,
        ds.protocol,
        ds.platform,
        ds.service_type AS serviceType,
        ds.service_name AS serviceName,
        ds.domain_name AS domainName,
        ds.source_type AS sourceType,
        ds.source_business_type as sourceBusinessTypeValue,
        ds.purpose,
        ds.principal,
        ds.create_time AS createTime,
        users.user_account AS createUser,
        ds.update_time AS updateTime
        FROM
        tb_datasource_config ds
        LEFT JOIN tb_user_info users ON ds.create_user = users.id
        WHERE
        ds.del_flag =1
        <if test="query.where !=null and query.where.length()>0 ">
            ${query.where}
        </if>
    </select>

</mapper>