<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.system.mapper.RoleServiceAssignmentMapper">
    <select id="getRoleServiceAssignmentDto" resultType="com.fisk.system.dto.RoleServiceAssignmentDTO">
        SELECT
            role.role_id,
            role.service_id,
            role.switch_add,
            role.switch_update,
            role.switch_delete,
            role.switch_authorization
        FROM
            tb_role_service_assignment role
            LEFT JOIN tb_service_registry registry
            on role.service_id=registry.id
        WHERE
            role.del_flag = 1
            and registry.del_flag = 1
            and role.role_id = #{roleId}
    </select>
</mapper>