<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.system.mapper.RoleInfoMapper">

    <select id="roleList" resultType="com.fisk.system.dto.roleinfo.RoleInfoDTO">
        select a.id,
        a.role_name as roleName,
        a.role_desc as roleDesc,
        b.username as createUser,
        a.create_time as createTime
        from tb_role_info a
        left join tb_user_info b on a.create_user = b.id
        where a.del_flag = 1
        <if test="query.where !=null and query.where.length()>0 ">
            ${query.where}
        </if>
    </select>
    <resultMap id="TreeRols" type="com.fisk.system.vo.roleinfo.RoleInfoVo">
        <result property="id" column="rid"/>
        <result property="roleName" column="role_name"/>
        <collection property="userInfoVos" ofType="com.fisk.system.vo.roleinfo.UserInfoVo">
            <result property="rowid" column="rowid"/>
            <result property="id" column="urid"/>
            <result property="username" column="username"/>
        </collection>
    </resultMap>
    <select id="getTreeRols" resultMap="TreeRols">
        SELECT
        @rowNum := @rowNum + 1 AS rowid,
        r.id AS rid,
        r.role_name,
        u.id AS urid,
        u.username
        FROM
        tb_role_info r
        LEFT JOIN tb_role_user_assignment ru ON r.id = ru.role_id  and ru.del_flag = 1
        LEFT JOIN tb_user_info u ON ru.user_id = u.id
       ,(
        SELECT
        @rowNum := 0
        ) b
        WHERE
        r.del_flag = 1
        and u.valid = 1
    </select>
    <select id="getRolebyUserId" resultType="com.fisk.system.dto.roleinfo.RoleInfoDTO">
        select a.id,
               a.role_name as roleName,
               a.role_desc as roleDesc,
               a.create_time as createUser,
               a.create_time as createTime
        from tb_role_info a
                 left join tb_role_user_assignment b on a.id = b.user_id
        where b.user_id = #{userId} and a.del_flag = 1 and b.del_flag = 1
    </select>
</mapper>