server:
  port: 8082
spring:
  application:
    name: fk-registry  # 当前服务的名称(自定义),也是注册进Eureka中的名称
  profiles:
    active: dev
eureka:
#  server:
#    enable-self-preservation: false
  client:
    fetch-registry: false # 不注册自己
    register-with-eureka: false  # 不去注册中心获取其他服务的地址
    service-url:
      defaultZone: http://127.0.0.1:8082/eureka # 域名地址,与上面的服务名不是一个意思
fk:
  jwt:
    key: helloWorldJavaLeyouAuthServiceSecretKey # 私钥