spring:
  datasource:
    url: jdbc:mysql://192.168.11.130:3306/dmp_datainput_db?useUnicode=true&characterEncoding=utf8&allowMultiQueries=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root123
    driver-class-name: com.mysql.jdbc.Driver
    dynamic:
      datasource:
        taskdb:
          url: jdbc:mysql://192.168.11.130:3306/dmp_task_db?useUnicode=true&characterEncoding=utf8&allowMultiQueries=true&useSSL=false
          username: root
          password: root123
          driver-class-name: com.mysql.jdbc.Driver

# redis
  redis:
    host: 192.168.11.130
# 防止模板报空错误
  freemarker:
    settings:
      classic_compatible: true
# pdf文档模板
dataservice:
  pdf:
    path: E:\\mycode\\20211018\\Fisk.DMP.Project\\fisk-factory-access\\fisk-factory-access-web\\target\\classes
    #    path: /root/java/fisk-factory-access/pdf
    # 接口文档中的环境信息
    uat_address: http://192.168.11.130:8083
    prd_address: https://prdHost

# pg数据源配置
pgsql-datamodel:
  driverClassName: org.postgresql.Driver
  url: jdbc:postgresql://192.168.1.250:5432/dmp_dw?stringtype=unspecified
  username: postgres
  password: Password01!
  #pgsql-ods:
  #url: jdbc:postgresql://192.168.1.250:5432/dmp_ods?stringtype=unspecified
  #username: postgres
  #password: Password01!
  #pgsql-ods:
  #url: jdbc:sqlserver://192.168.11.133:1433;DatabaseName=dmp_ods
  #username: sa
  #password: Password01!

# 数据质量校验的信息(ip: pg数据源的ip地址; dbName: 连接的ods库)
data-quality-check:
  ip: 192.168.1.250
  dbName: dmp_ods

# 元数据实例信息
metadata-instance:
  # 数据库类型
  rdbmsType: postgresql
  # 平台
  platform: Linux
  # 主机
  hostname: 192.168.1.250
  # 端口
  port: 5432
  # 数据库
  dbName: dmp_ods
  # 网络协议
  protocol: http

flink-config:
  host: 192.168.1.92
  port: 22
  user: root
  password: p/q2-q4!
  upload-path: /root/flink-job/sql/
  upload-way: ssh
  savepoints-path: /root/flink-job/savepoint/

flink-api-config:
  host: http://192.168.1.92
  port: 8081
  savepoints: /jobs/:jobid/savepoints
  savepoint-status: /jobs/:jobid/savepoints/:triggerid
