dataquality:
  excel:
    # excel保存路径
    path: /root/java/fisk-governance-center/dataquality/excel
spring:
  application:
    name: datagovernance-service
  datasource:
    url: jdbc:mysql://192.168.21.13:3306/dmp_datagovernance_db_UAT?useUnicode=true&characterEncoding=utf8&allowMultiQueries=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: Password01!
    driver-class-name: com.mysql.jdbc.Driver
  redis:
    host: 192.168.21.13