dataquality:
  excel:
    # excel保存路径
    path: /root/java/fisk-governance-center/dataquality/excel
spring:
  application:
    name: datagovernance-service
  datasource:
    url: jdbc:mysql://192.168.21.13:3306/dmp_datagovernance_db_UAT?useUnicode=true&characterEncoding=utf8&allowMultiQueries=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: Password01!
    driver-class-name: com.mysql.jdbc.Driver
  redis:
    host: 192.168.21.13
# pg数据源配置
pgsql-dw:
  id: 1
  ip: 192.168.21.13
  port: 5432
  dbName: dmp_dw_UAT
  url: jdbc:postgresql://192.168.21.13:5432/dmp_dw_UAT?stringtype=unspecified&connectTimeout=60&socketTimeout=60 #超时等待60s
  username: postgres
  password: PgPassword01!
  driverClassName: org.postgresql.Driver
pgsql-ods:
  id: 2
  ip: 192.168.21.13
  port: 5432
  dbName: dmp_ods_UAT
  url: jdbc:postgresql://192.168.21.13:5432/dmp_ods_UAT?stringtype=unspecified&connectTimeout=60&socketTimeout=60 #超时等待60s
  username: postgres
  password: PgPassword01!
  driverClassName: org.postgresql.Driver