dataops:
  # 数据库元数据对应 redis key
  metadataentity_key: DataOps_MetaDataEntityKey
  # 执行时间 凌晨12点半
  schedule: 0 30 0 * * ?
  # 是否启用
  enabled: true
dataquality:
  # 数据库元数据对应 redis key
  metadataentity_key: DataQuality_MetaDataEntityKey
spring:
  application:
    name: datagovernance-service
  datasource:
    url: jdbc:mysql://192.168.21.13:3306/FiData_datagovernance_db?useUnicode=true&characterEncoding=utf8&allowMultiQueries=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: Password01!
    driver-class-name: com.mysql.jdbc.Driver
  redis:
    host: 192.168.21.13
# pg数据源配置
database:
  dw_id: 1
  ods_id: 2
  mdm_id: 3
  olap_id: 4
file:
  uploadUrl: /opt/0226/soft/nginx/app/file/qualityreport/
  echoPath: /file/qualityreport/
  logoPath: /opt/0226/soft/nginx/app/file/qualityreport/image/companyLogo.jpg