spring:
  datasource:
    url: jdbc:mysql://192.168.21.21:3306/dmp_datamodel_db?useUnicode=true&characterEncoding=utf8&allowMultiQueries=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root123
    driver-class-name: com.mysql.jdbc.Driver

  # redis
  redis:
    host: 192.168.21.21
    password: test123456
  # 防止模板报空错误
  freemarker:
    settings:
      classic_compatible: true
#授权
fk:
  auth:
    clientId: data-model-service
    secret: 1234
  encoder:
    crypt:
      secret: ${random.uuid}
      strength: 6

# 数据建模目标dw库id
fiData-data-dw-source: 1

# 数据建模日期维度表临时表ods库id
fiData-data-date-dw-source: 2