spring:
  datasource:
    url: jdbc:mysql://192.168.21.13:3306/dmp_datamodel_db_UAT?useUnicode=true&characterEncoding=utf8&allowMultiQueries=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: Password01!
    driver-class-name: com.mysql.jdbc.Driver

# redis
  redis:
    host: 192.168.21.13
# 防止模板报空错误
  freemarker:
    settings:
      classic_compatible: true

#授权
fk:
  auth:
    clientId: data-model-service
    secret: 1234
  encoder:
    crypt:
      secret: ${random.uuid}
      strength: 6

#dw配置
generate:
  date-dimension:
    datasource:
      typeName: postgresql
      driver: org.postgresql.Driver
      url: jdbc:postgresql://192.168.21.13:5432/dmp_dw_UAT?stringtype=unspecified
      userName: postgres
      password: PgPassword01!
