spring:
  datasource:
    url: jdbc:mysql://100.102.201.107:3307/dmp_datamodel_db?useUnicode=true&characterEncoding=utf8&allowMultiQueries=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: .FdF_r&tj4)+
    driver-class-name: com.mysql.jdbc.Driver

# redis
  redis:
    host: 10.220.108.140
    port: 16380
    password: test123456
  # 防止模板报空错误
  freemarker:
    settings:
      classic_compatible: true

#授权
fk:
  auth:
    clientId: data-model-service
    secret: 1234
  encoder:
    crypt:
      secret: ${random.uuid}
      strength: 6
