spring:
  datasource:
    url: jdbc:mysql://172.17.1.248:3306/dmp_datamodel_db?useUnicode=true&characterEncoding=utf8&allowMultiQueries=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: Password01!
    driver-class-name: com.mysql.jdbc.Driver

  # redis
  redis:
    host: 172.17.1.248
  # 防止模板报空错误
  freemarker:
    settings:
      classic_compatible: true
#授权
fk:
  auth:
    clientId: data-model-service
    secret: 1234
  encoder:
    crypt:
      secret: ${random.uuid}
      strength: 6

# 数据建模目标dw库id
fiData-data-dw-source: 1