spring:
  datasource:
    url: jdbc:mysql://192.168.21.21:3306/dmp_datamodel_db?useUnicode=true&characterEncoding=utf8&allowMultiQueries=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root123
    driver-class-name: com.mysql.jdbc.Driver

  # redis
  redis:
    host: 192.168.21.21
    password: test123456
  # 防止模板报空错误
  freemarker:
    settings:
      classic_compatible: true
#授权
fk:
  auth:
    clientId: data-model-service
    secret: 1234
  encoder:
    crypt:
      secret: ${random.uuid}
      strength: 6

#dw配置
generate:
  date-dimension:
    datasource:
      typeName: PostgreSql
      driver: org.postgresql.Driver
      url: jdbc:postgresql://192.168.21.21:5432/dmp_dw?stringtype=unspecified
      userName: postgres
      password: postgres123

#feign接口超时配置
feign:
  client:
    config:
      default:
        connectTimeout: 20000
        readTimeout: 24000
