<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.datamodel.mapper.BusinessAreaMapper">
    <select id="queryList" resultType="com.fisk.datamodel.dto.businessarea.BusinessPageResultDTO">
        SELECT
        id,
        business_name,
        business_email,
        business_des,
        business_admin,
        create_time,
        ((select count(*) from tb_dimension dim where dim.del_flag=1 and dim.business_id=business.id) +
        (select count(*) from tb_fact fact where fact.del_flag=1 and fact.business_id=business.id)) as modelNumber,
        ((select count(*) from tb_dimension dim where dim.del_flag=1 and dim.business_id=business.id and
        dim.is_publish=1) +
        (select count(*) from tb_fact fact where fact.del_flag=1 and fact.business_id=business.id and
        fact.is_publish=1)) as numberPositionPublishNumber,
        (select count(*) from tb_fact fact where fact.del_flag=1 and fact.business_id=business.id) as analysisNumber,
        (select count(*) from tb_fact fact where fact.del_flag=1 and fact.business_id=business.id and
        fact.doris_publish=1) as analysisPublishNumber
        from tb_area_business as business
        where del_flag=1
        <if test="query.where !=null and query.where.length()>0 ">
            ${query.where}
        </if>
    </select>

    <select id="businessAreaTable" resultType="com.fisk.task.dto.pipeline.PipelineTableLogVO">
        SELECT
        id as tableId,
        business_id as appId,
        dimension_tab_name AS tableName,
        del_flag as tableType,
        create_time
        FROM
	    tb_dimension
        WHERE
	    is_publish = 1
	    AND del_flag = 1 and business_id=${query.appId} and dimension_tab_name like CONCAT('%',#{query.keyword},'%')
        union all
        SELECT
        id as tableId,
        business_id as appId,
        fact_tab_name AS tableName,
        del_flag+1 as tableType,
        create_time
        FROM
	    tb_fact
        WHERE
	    is_publish = 1
	    AND del_flag = 1 and business_id=${query.appId} and fact_tab_name like CONCAT('%',#{query.keyword},'%')
    </select>

    <insert id="insertBusinessArea" useGeneratedKeys="true" keyProperty="dto.id" keyColumn="id"
            parameterType="com.fisk.datamodel.dto.businessarea.BusinessAreaDTO">
        insert into tb_area_business
        (business_name,
         business_des,
         business_admin,
         business_email,
         create_user,
         create_time,
         del_flag
        )
        value(
        #{dto.businessName},
        #{dto.businessDes},
        #{dto.businessAdmin},
        #{dto.businessEmail},
        #{creator},
        #{time},
        1
        );
    </insert>

    <select id="getTableInfo" resultType="com.fisk.datamodel.dto.dataops.DataModelQueryDTO">
        SELECT * FROM (SELECT
	    business_id,
	    id,
	    dimension_tab_name AS ods_table_name,
	    Concat(prefix_temp_name,'_',dimension_tab_name) AS stg_table_name,
	    1 AS table_type
        FROM
	    tb_dimension where del_flag=1

        UNION ALL

        SELECT
	    business_id,
	    id,
	    fact_tab_name AS ods_table_name,
	    Concat(prefix_temp_name,'_',fact_tab_name) AS stg_table_name,
	    2 AS table_type
        FROM
	    tb_fact where del_flag=1
	    ) AS tab
	    WHERE
	    ods_table_name = #{tableName} OR stg_table_name = #{tableName}
    </select>

</mapper>