<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.datamodel.mapper.dimension.DimensionMapper">
    <select id="getDimension" resultType="com.fisk.datamodel.dto.dimensionattribute.DimensionAssociationDTO">
        SELECT a.*,
        b.business_name
        FROM tb_dimension a
        left join tb_area_business b on a.business_id=b.id
        where a.del_flag=1 and a.id= ${id}
    </select>
</mapper>