<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.datamodel.mapper.TableVersionSqlPOMapper">

    <resultMap id="BaseResultMap" type="com.fisk.datamodel.entity.TableVersionSqlPO">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="tableId" column="table_id" jdbcType="INTEGER"/>
            <result property="versionNumber" column="version_number" jdbcType="VARCHAR"/>
            <result property="versionDes" column="version_des" jdbcType="VARCHAR"/>
            <result property="historicalSql" column="historical_sql" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,table_id,version_number,
        version_des,historical_sql,create_time,
        create_user,update_time,update_user,
        del_flag
    </sql>
</mapper>
