server:
  port: 8092
spring:
  application:
    name: data-factory
  profiles:
    active: dev
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd HH:mm:ss

mybatis-plus:
  configuration:
    default-enum-type-handler: com.fisk.common.framework.mybatis.config.BaseEnumTypeHandler
  global-config:
    db-config:
      id-type: auto
      insert-strategy: not_null
      logic-delete-field: del_flag
      logic-delete-value: 0
      logic-not-delete-value: 1
      update-strategy: not_null
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.fisk.datafactory.entity

fk:
  jwt:
    key: helloWorldJavaLeyouAuthServiceSecretKey # 私钥
  auth:
    clientId: data-factory
    secret: 1234
  encoder:
    crypt:
      secret: ${random.uuid}
      strength: 6

eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:8082/eureka

feign:
  client:
    config:
      default:
        connectTimeout: 10000
        readTimeout: 600000