<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.task.mapper.PipelJobLogMapper">

    <select id="getPipelJobLogVo1" resultType="com.fisk.task.dto.dispatchlog.PipelJobLogVO">
        select * from tb_pipel_job_log where pipel_id=#{pipelJobLog.pipelId}
        <if test="pipelJobLog.pipelTraceId != null and pipelJobLog.pipelTraceId != '' ">
            and component_id=#{pipelJobLog.componentId}
        </if>
        <if test="pipelJobLog.pipelTraceId != null and pipelJobLog.pipelTraceId != '' ">
            and pipel_trace_id=#{pipelJobLog.pipelTraceId}
        </if>
        and job_trace_id is not null
        and del_flag=1 ORDER BY create_time desc limit 100

    </select>
    <select id="getPipelJobLogVo" resultType="com.fisk.task.dto.dispatchlog.PipelJobMergeLogVO">
        SELECT t1.pipel_trace_id,
               t1.job_trace_id,
               t1.pipel_id,
               t3.id as componentId,
               t3.component_type as componentName,
               t1.create_time as start_time,
               t2.create_time as end_time,
               CASE
                   WHEN t2.msg LIKE '%运行成功%' THEN
                       '成功'
                   WHEN t2.msg LIKE '%运行失败%' THEN
                       '失败'
                   WHEN t2.msg LIKE '%跳过%' THEN
                       '跳过'
                   WHEN t2.msg LIKE '%禁止%' THEN
                       '禁止'
                   END AS result
        FROM
            (SELECT * FROM
            tb_pipel_job_log a WHERE a.type = 4 AND a.del_flag =1) as t1
                LEFT JOIN tb_pipel_job_log t2 ON t1.job_trace_id = t2.job_trace_id AND t2.type = 5 AND t2.del_flag = 1
                LEFT JOIN ${dispatchDbName}.tb_nifi_custom_workflow_detail t3 ON t1.component_id = t3.id
        WHERE
        t1.pipel_trace_id = #{pipelTraceId}
        ORDER BY t1.create_time DESC
    </select>

</mapper>