<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.task.mapper.PipelLogMapper">

    <select id="getStatisticsLog" resultType="com.fisk.task.dto.dispatchlog.LogStatisticsVO">
       		select b.days as days,count(1) as sum from (SELECT
                    DATE_FORMAT( `create_time`, '%Y-%m-%d' ) AS days,
                    COUNT( 1 ) AS num
                FROM
                    tb_pipel_log
                    where msg like concat('%', #{result}, '%') and pipel_id=#{pipelId} and create_time >= DATE_SUB( CURDATE( ), INTERVAL #{lookday} DAY ) and del_flag=1
                GROUP BY
                    DATE_FORMAT( `create_time`, '%Y-%m-%d' ) ,pipel_trace_id
                ORDER BY
                    DATE_FORMAT( `create_time`, '%Y-%m-%d' ) DESC) b GROUP BY b.days;



    </select>

</mapper>