<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.task.mapper.PipelineTableLogMapper">

    <select id="getPipelineTableLogs" resultType="com.fisk.task.dto.pipeline.PipelineTableLogVO">
        select
        ptl.component_id,
        ptl.table_id,
        ptl.state ,
        ptl.comment,
        ptl.start_time,
        ptl.end_time,
        ptl.counts,
        ptl.dispatch_type,
        ptl.appId,
        from tb_pipeline_table_log ptl
        where ptl.del_flag = 1 and ptl.table_id=#{tableId} and ptl.table_type=#{tableType} and ptl.del_flag =1
        <if test="keyword !=null and keyword!='' ">
            <!--调度类型,0是手动调度,1是管道调度-->
            AND ptl.dispatchType like concat('%', #{keyword}, '%')
            <!--comment同步日志-->
            OR ptl.comment like concat('%', #{keyword}, '%')
            <!--state同步结果-->
            OR ptl.state like concat('%', #{keyword}, '%')
        </if>
    </select>

</mapper>