datamodeldorisconstr:
  driver_class_name: com.mysql.jdbc.Driver
  password: Password01!
  url: jdbc:mysql://192.168.11.134:9030/dmp_olap?useUnicode=true&characterEncoding=utf8&allowMultiQueries=true&useSSL=false
  username: root

external-table-link: '"host" = "192.168.1.250","port" = "5432","user" = "postgres","password"
  = "Password01!","database" = "dmp_dw"'

nifi:
  basePath: http://192.168.11.130:9090/nifi-api
  token: Bearer eyJhbGciOiJIUzI1NiJ9.eyJqdGkiOiJkMjc2Mjk3N2U4YjU0YTQ0YjYyZGU2ODlmZTk0OTRjNiIsInVzZXIiOiJ7XCJpZFwiOjE4LFwidXNlckFjY291bnRcIjpcImNma1wifSIsImlkIjoiMTgifQ.SRkIbNgKrvo1TI-WSufy4mZGLst6ed0Y6Fs0QoQ8m_g
  pipeline:
    topicName: my-topic
    waitTime: 20
    operation-interval: 2000
    number-of-operations: 5
    data-governance-url: http://192.168.11.130:8083
nifi-ConcurrentTasks: 3
nifi-FetchSize: 30000
nifi-MaxRowsPerFlowFile: 10000
nifi-OutputBatchSize: 1
fiData-data-ods-source: 2
pgsql-datamodel:
  driverClassName: org.postgresql.Driver
  password: Password01!
  url: jdbc:postgresql://192.168.1.250:5432/dmp_dw?stringtype=unspecified
  username: postgres
  ip: 192.168.1.250
  dbName: dmp_dw
pgsql-mdm:
  password: Password01!
  url: jdbc:postgresql://192.168.1.250:5432/dmp_mdm?stringtype=unspecified
  username: postgres
  type: PG
server:
  port: 8099
spring:
  application:
    name: task-center
  datasource:
    dynamic:
      datasource:
        datainputdb:
          driver-class-name: com.mysql.jdbc.Driver
          password: root123
          url: jdbc:mysql://192.168.11.130:3306/dmp_datainput_db?useUnicode=true&characterEncoding=utf8&allowMultiQueries=true&useSSL=false
          username: root
        taskdb:
          driver-class-name: com.mysql.jdbc.Driver
          password: root123
          url: jdbc:mysql://192.168.11.130:3306/dmp_task_db?useUnicode=true&characterEncoding=utf8&allowMultiQueries=true&useSSL=false
          username: root
      primary: taskdb
      strict: false
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  kafka:
    consumer:
      bootstrap-servers: 192.168.1.92:9092
      enable-auto-commit: false
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      session:
        timeout:
          ms: 300000
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    producer:
      acks: all
      bootstrap-servers: 192.168.1.92:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      retries: 3
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
  redis:
    host: 192.168.11.130
