datamodeldorisconstr:
  driver_class_name: com.mysql.jdbc.Driver
  password: DsPassword01!
  url: jdbc:mysql://192.168.21.13:9030/dmp_olap?useUnicode=true&characterEncoding=utf8&allowMultiQueries=true&useSSL=false
  username: root

external-table-link: '"host" = "192.168.21.13","port" = "5432","user" = "postgres","password"
  = "PgPassword01!","database" = "dmp_dw_UAT"'

nifi:
  basePath: http://192.168.21.13:8080/nifi-api
  token: Bearer eyJhbGciOiJIUzI1NiJ9.eyJqdGkiOiI5YjNkMjY3NjExNDc0NWU2ODg3MDlkODkzNmUzYmQ4MiIsInVzZXIiOiJ7XCJpZFwiOjE5LFwidXNlckFjY291bnRcIjpcInRhc2vkuJPnlKh0b2tlblwifSIsImlkIjoiMTkifQ.d5g6oMU3a_XsjpOouZu1R1YlVO_E_ZjwUUJROR1XbRo
  Enable-Authentication: 0
  kerberos:
    Keytab: /opt/fidata/java/fisk-task-center/kafka.keytab
    login:
      config: /opt/fidata/java/fisk-task-center/kafka-jaas.conf
    krb5:
      conf: /opt/fidata/java/fisk-task-center/krb5.conf
  kerberosprincipal: kafka/admin@AUTOEXPR.COM
  pipeline:
    topicName: my-topic
    waitTime: 20
    operation-interval: 2000
    number-of-operations: 5
    data-governance-url: http://192.168.21.13:8083
nifi-ConcurrentTasks: 3
nifi-FetchSize: 30000
nifi-MaxRowsPerFlowFile: 10000
nifi-OutputBatchSize: 1
fiData-data-ods-source: 2
pgsql-datamodel:
  driverClassName: org.postgresql.Driver
  password: PgPassword01!
  url: jdbc:postgresql://192.168.21.13:5432/dmp_dw_UAT?stringtype=unspecified
  username: postgres
  ip: 192.168.21.13
  dbName: dmp_dw_UAT
pgsql-mdm:
  driverClassName: org.postgresql.Driver
  password: PgPassword01!
  url: jdbc:postgresql://192.168.21.13:5432/dmp_mdm_UAT?stringtype=unspecified
  username: postgres
  type: PG
server:
  port: 8099
spring:
  application:
    name: task-center
  datasource:
    dynamic:
      datasource:
        datainputdb:
          driver-class-name: com.mysql.jdbc.Driver
          password: Password01!
          url: jdbc:mysql://192.168.21.13:3306/dmp_datainput_db_UAT?useUnicode=true&characterEncoding=utf8&allowMultiQueries=true&useSSL=false
          username: root
        taskdb:
          driver-class-name: com.mysql.jdbc.Driver
          password: Password01!
          url: jdbc:mysql://192.168.21.13:3306/dmp_task_db_UAT?useUnicode=true&characterEncoding=utf8&allowMultiQueries=true&useSSL=false
          username: root
      primary: taskdb
      strict: false
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  kafka:
    consumer:
      bootstrap-servers: 192.168.21.13:9092
      enable-auto-commit: false
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      session:
        timeout:
          ms: 300000
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    producer:
      acks: all
      bootstrap-servers: 192.168.21.13:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      retries: 3
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
  redis:
    host: 192.168.21.13
