<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.dataservice.mapper.AppRegisterMapper">
    <cache eviction="LRU" flushInterval="100000" readOnly="true" size="256"/>
    <select id="filter" resultType="com.fisk.dataservice.vo.app.AppRegisterVO">
        select id,
        app_name,
        app_desc,
        app_principal,
        app_account,
        app_password,
        create_time
        from tb_app_config
        where del_flag=1
        <if test="query.where !=null and query.where.length()>0 ">
            ${query.where}
        </if>
    </select>
    <select id="getAll" resultType="com.fisk.dataservice.vo.app.AppRegisterVO">
        select id,
        app_name,
        app_desc,
        app_principal,
        app_account,
        app_password,
        create_time
        from tb_app_config
        where del_flag=1
    </select>
</mapper>