<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fisk.dataservice.mapper.TableApiServiceMapper">

    <select id="getTableApiListData" resultType="com.fisk.dataservice.dto.tableapi.TableApiPageDataDTO">
        SELECT
        a.id,
        a.api_name,
        a.display_name,
        a.publish,
        a.enable,
        a.important_interface,
        a.special_type,
        a.sync_time
        FROM tb_table_api_service a
        WHERE
        a.del_flag = 1
        <if test="query.appId != null">
            and a.app_id = ${query.appId}
        </if>
        <if test="query.apiName != null and query.apiName.length()>0">
            and a.api_name like CONCAT('%',#{query.apiName},'%')
        </if>
        <if test="query.publish != null">
            and a.publish = ${query.publish}
        </if>
    </select>

    <select id="getApiLogs" resultType = "com.fisk.dataservice.vo.tableapi.ApiLogVO">
        select a.* from tb_table_api_log a where del_flag = 1 and a.api_id = ${query.apiId};
    </select>
</mapper>