<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.dataservice.mapper.TableServiceMapper">

    <select id="getTableServiceListData" resultType="com.fisk.dataservice.dto.tableservice.TableServicePageDataDTO">
        SELECT
        a.id,
        a.table_name,
        a.display_name,
        a.publish
        FROM
        tb_app_service_config s
        LEFT JOIN tb_table_service a ON a.id = s.service_id
        WHERE
        a.del_flag = 1
        AND s.del_flag = 1
        AND s.api_state = 1
        AND s.app_id = #{query.tableAppId}
        <if test="query.tableName != null and query.tableName.length()>0">
            and a.table_name like CONCAT('%',#{query.tableName},'%')
        </if>
        <if test="query.publish != null">
            and a.publish = ${query.publish}
        </if>
    </select>

</mapper>