<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pd.tangqiao.mapper.TqDataQualityCheckPOMapper">

    <resultMap id="BaseResultMap" type="pd.tangqiao.entity.TqDataQualityCheckPO">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="dataOpt" column="data_opt" jdbcType="VARCHAR"/>
            <result property="batchCode" column="batch_code" jdbcType="VARCHAR"/>
            <result property="ruleName" column="rule_name" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,data_opt,batch_code,
        rule_name,status,create_time,
        create_user,update_time,update_user,
        del_flag
    </sql>
</mapper>
