<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pd.tangqiao.mapper.TqLogAnalyzePOMapper">

    <resultMap id="BaseResultMap" type="pd.tangqiao.entity.TqLogAnalyzePO">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="serviceName" column="service_name" jdbcType="VARCHAR"/>
            <result property="logCount" column="log_count" jdbcType="VARCHAR"/>
            <result property="errorPercent" column="error_percent" jdbcType="VARCHAR"/>
            <result property="logTime" column="log_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,service_name,log_count,
        error_percent,log_time,create_time,
        create_user,update_time,update_user,
        del_flag
    </sql>
</mapper>
