<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pd.tangqiao.mapper.TqSubscribeAppConfigMapper">
<select id="getAll" resultType="pd.tangqiao.entity.TqSubscribeAppConfigVO">
    select * from tq_subscribe_app_config where del_flag = 1
</select>
</mapper>