<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pd.tangqiao.mapper.TqViewsPermissionsConfigPOMapper">

    <resultMap id="BaseResultMap" type="pd.tangqiao.entity.TqViewsPermissionsConfigPO">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="apiName" column="api_name" jdbcType="VARCHAR"/>
            <result property="apiCode" column="api_code" jdbcType="VARCHAR"/>
            <result property="sceneName" column="scene_name" jdbcType="VARCHAR"/>
            <result property="isOpen" column="is_open" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,api_name,api_code,
        scene_name,is_open,create_time,
        create_user,update_time,update_user,
        del_flag
    </sql>
</mapper>
