<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.datamodel.mapper.DimensionAttributeMapper">
    <select id="getDimensionAttributeList" resultType="com.fisk.datamodel.dto.DimensionAttributeListDTO">
        SELECT a.id,
        a.table_source_field,
        a.dimension_field_cn_name,
        a.dimension_field_type,
        a.dimension_field_length,
        a.dimension_field_des,
        a.dimension_field_en_name,
        a.attribute_type,
        a.table_source,
        b.dimension_cn_name
        from tb_dimension_attribute a
        left join tb_dimension b on a.associate_dimension_id = b.id
        where a.del_flag=1 and a.dimension_id= ${dimensionId} order by a.create_time desc
    </select>
</mapper>