<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisk.datamodel.mapper.DimensionMapper">
    <select id="getDimensionAssociation" resultType="com.fisk.datamodel.dto.ProjectDimensionAssociationDTO">
        SELECT a.data_name,
        a.id as data_id,
        a.businessid as business_id,
        b.business_name
        from tb_area_data a
        left join tb_area_business b on a.businessid = b.id
        where a.del_flag=1 and a.id = #{id}
    </select>
    <select id="getDimension" resultType="com.fisk.datamodel.dto.ProjectDimensionAssociationDTO">
        SELECT a.*,
        b.business_name,
        c.data_name
        FROM tb_project_dimension a
        left join tb_area_business b on a.business_id=b.id
        left join tb_area_data c on a.data_id = c.id
        where a.del_flag=1 and a.id= ${id}
    </select>
</mapper>