dataservice:
  pdf:
    # pdf文档模板路径
    path: /root/java/fisk-consume-serveice/pdf
   # path: D:/Work/java/Fisk.DMP.Project/fisk-consume-serveice/fisk-consume-serveice-web/target/classes
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    password: root123
    url: jdbc:mysql://192.168.11.130:3306/dmp_dataservice_db?uuseUnicode=true&characterEncoding=utf8&allowMultiQueries=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
  # 防止模板报空错误
  freemarker:
    settings:
      classic_compatible: true
