dataservice:
  pdf:
    # pdf文档模板路径
    path: /data/java/fisk-consume-serveice/pdf
    # 接口文档中的环境信息
    api_address: http://10.220.108.140:10089/{apiaddress}。
  datasource:
    # redis key
    metadataentity_key: DataService_MetaDataKey
    # 执行时间 凌晨12点半
    schedule: 0 30 0 * * ?
    # 是否启用
    enabled: true
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    password: .FdF_r&tj4)+
    url: jdbc:mysql://100.102.201.107:3307/dmp_dataservice_db?useUnicode=true&characterEncoding=utf8&allowMultiQueries=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
  # redis 获取用户需要使用到
  redis:
    host: 10.220.108.140
    port: 16380
    password: test123456
  # 防止模板报空错误
  freemarker:
    settings:
      classic_compatible: true
